.search__container
    margin: 0 auto
    width: 100%
    max-width: 60rem
    
.search__form
    display: flex
    flex-flow: column

    small
        margin-top: .5rem
        font-size: 1.3rem
        color: #b3b3b3

    input
        flex: 1
        font-size: 2rem
        border: none
        box-shadow: 0 2px 2px 0 rgba(black, 0.16), 0 0 0 1px rgba(black, 0.08)
        -webkit-box-shadow: 0 2px 2px 0 rgba(black, 0.16), 0 0 0 1px rgba(black, 0.08)
        -webkit-appearance: none
        border-radius: 0

    button
        margin-left: 1.5rem
        background: none
        border: none
        font-size: 2rem

    input,
    button
        padding: 1.5rem

.search__list
    margin-top: 3rem
    background: white

    &--nostyle
        box-shadow: none !important
        background: none

    &:not(.search__loading)
        box-shadow: 0 2px 2px 0 rgba(black, 0.16), 0 0 0 1px rgba(black, 0.08)
        -webkit-box-shadow: 0 2px 2px 0 rgba(black, 0.16), 0 0 0 1px rgba(black, 0.08)
        -webkit-appearance: none

    &.search__loading
        display: flex
        justify-content: center
        background: none

    &-item 
        padding: 1.5rem
        border-bottom: 1px solid rgba(black, 0.06)
        display: flex
        flex-flow: column
        cursor: pointer

        &:hover
            background: #fbfbfb

    &-item__header
        display: flex
        align-items: center
        justify-content: space-between

        h2
            margin-bottom: 0.5rem

        span
            font-size: 1.4rem

        i
            margin-right: .5rem

    &-item__content
        p
            font-size: 1.6rem

.search__modal
    .modal__container
        box-shadow: 0 2px 2px 0 rgba(black, 0.16), 0 0 0 1px rgba(black, 0.08)
        -webkit-box-shadow: 0 2px 2px 0 rgba(black, 0.16), 0 0 0 1px rgba(black, 0.08)

        @media (max-width: 600px)
            width: 90%

    .modal__header
        margin-bottom: 1.5rem

    .modal__title
        font-size: 3rem

    &-infos
        display: flex
        padding: 0

        @media (max-width: 600px)
            flex-flow: column

        li
            list-style: none
            &:not(:last-child)
                margin-right: 1rem

    &-links
        padding: 0

        @media (max-width: 600px)
            flex-flow: column

        li
            list-style: none

            @media (max-width: 600px)
                display: flex
                flex-flow: column
                font-size: 1.3rem

                &:not(:last-child)
                    margin-bottom: 1rem
                

.search__separator
    width: 100%
    display: block
    margin: 2rem 0
    height: 1px
    background: rgba(black, 0.08)

